server:
  port: 9001
  # Enable Virtual Threads for Tomcat (Java 21 feature)
  tomcat:
    threads:
      max: 200
      min-spare: 10

spring:
  application:
    name: var-calculation-service
  datasource:
    url: jdbc:h2:mem:vardb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  # Enable Virtual Threads for Spring MVC (Java 21)
  threads:
    virtual:
      enabled: true

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000

var:
  calculation:
    min-data-points: 5

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    com.var.calculation: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
